{
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
         "mongo": true,
         "mocha": true,
         "amd": true,
         "jquery": true,
         "shared-node-browser": true
    },
    "globals": {
        "ko": true,
        "Ladda": true,
        "moment": true,
        "$": true
    },
    "rules": {
        "indent": [
            2,
            4
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-console": 0,
        "complexity": [
            "error",
            8
        ],
        "eqeqeq": [
            2,
            "smart"
        ],
        "strict": [
            "error",
            "global"
        ],
        "no-extra-semi": "error",
        "semi-spacing": [
            "error",
            {
                "before": false,
                "after": true
            }
        ],
        "operator-linebreak": [
            "error",
            "after"
        ],
        "space-before-blocks": "error",
        "space-after-keywords": "off",
        "keyword-spacing": [
            2,
            {
                "before": true,
                "after": true
            }
        ],
        "arrow-spacing": [
            "error",
            {
                "before": true,
                "after": true
            }
        ],
        "comma-spacing": [
            "error",
            {
                "before": false,
                "after": true
            }
        ]
    }
}
